<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malta.taskwidget"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="15" />

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        
		<activity
		    	  android:name=".Add_task" 

		    	  android:theme="@android:style/Theme.Dialog">
		</activity>

        <activity android:name="com.malta.taskwidget.EditActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="com.malta.taskwidget.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>

        </activity>



        <service android:name="WidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />
		<receiver android:name=".TaskWidget" android:label="@string/app_name">
	 		 <intent-filter>
	   			 <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
     		 </intent-filter>
	  		 <meta-data
	    			android:name="android.appwidget.provider"
	    			android:resource="@xml/widget_provider"
	  		 />
		</receiver>
    </application>

</manifest>
